# ignore node_modules
node_modules/

# ignore res/
res/

# ignore .env
*.env

# ignore .DS_Store
*.DS_Store

# ignore doc directories
client/src/docs/
server/doc/

# ignore all .txt files in root directory
/*.txt


